In [31]:
import pandas as pd

In [33]:
import numpy as np

In [35]:
import seaborn as sns

In [37]:
df = pd.read_csv('iris.csv')

In [39]:
description = """
The Iris dataset is one of the most famous datasets used in machine learning and data science. 
It consists of 150 samples from three species of Iris flowers (Iris-setosa, Iris-versicolor, and Iris-virginica).
The dataset contains four features (sepal length, sepal width, petal length, and petal width) and the target label, which is the species of the flower.
Source: https://archive.ics.uci.edu/ml/datasets/Iris
"""

In [41]:
print(description)

The Iris dataset is one of the most famous datasets used in machine learning and data science.
It consists of 150 samples from three species of Iris flowers (Iris-setosa, Iris-versicolor, and Iris-virginica).
The dataset contains four features (sepal length, sepal width, petal length, and petal width) and the target label, which is the species of the flower.
Source: https://archive.ics.uci.edu/ml/datasets/Iris

In [43]:
print("\nMissing Values:\n", df.isnull().sum())

Missing Values:
 sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
type            0
dtype: int64

In [45]:
print("\nInitial Statistics:\n", df.describe())

Initial Statistics:
        sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [47]:
print("\nData Types:\n", df.dtypes)

Data Types:
 sepal.length    float64
sepal.width     float64
petal.length    float64
petal.width     float64
type             object
dtype: object

In [49]:
print("\nDimensions of the DataFrame: ", df.shape)

Dimensions of the DataFrame:  (150, 5)

In [51]:
print("\nVariable Types:")
print(df.dtypes)

Variable Types:
sepal.length    float64
sepal.width     float64
petal.length    float64
petal.width     float64
type             object
dtype: object

In [55]:
df['type'] = df['type'].astype('category')

In [61]:
print("\nAfter Type Conversion:\n", df.dtypes)

After Type Conversion:
 sepal.length     float64
sepal.width      float64
petal.length     float64
petal.width      float64
type            category
type_encoded        int8
dtype: object

In [63]:
df['type_encoded'] = df['type'].cat.codes

In [65]:
print("\nUpdated DataFrame with Encoded Categorical Variable:\n", df.head())

Updated DataFrame with Encoded Categorical Variable:
    sepal.length  sepal.width  petal.length  petal.width    type  type_encoded
0           5.1          3.5           1.4          0.2  Setosa             0
1           4.9          3.0           1.4          0.2  Setosa             0
2           4.7          3.2           1.3          0.2  Setosa             0
3           4.6          3.1           1.5          0.2  Setosa             0
4           5.0          3.6           1.4          0.2  Setosa             0